faker==25.8.0
gunicorn==21.2.0
uvicorn==0.30.6
httpx==0.27.0
fake-useragent==1.5.1
beautifulsoup4==4.12.3
lxml==5.2.2
colorama==0.4.6
requests==2.32.3
urllib3==2.2.3
cloudscraper==1.2.71
aiohttp==3.10.5
user-agent==0.1.10
